#! /bin/bash

# opensimulator
OPENSIMULATOR_FOLDER="/opt/opensim/bin"
OPENSIMULATOR_BIN="${OPENSIMULATOR_FOLDER}/OpenSim.exe"
OPENSIMULATOR_GRID_IP=127.0.0.1

# tmux
TMUX_SOCKET_FOLDER="/tmp/tmux/sockets/opensimulator"
TMUX_SOCKET_FOLDER_GROUP_NAME="tmux-share"
TMUX_MULTIPLE_SESSIONS=1

# ostmu
OSTMU_INI_MODELS_FOLDER="${OSTMU_FOLDER}/models"
OSTMU_PORTS_FILE="/var/lib/ostmu/ports"
USER_CONFIG_FOLDER_NAME=".opensimulator"

# mysql
USE_MYSQL=1
MYSQL_ROOT_USERNAME="root"
MYSQL_ROOT_PASSWORD="root"

# NOTHING SHOULD BE CHANGED UNDER THIS LINE

# lang
TEXTDOMAIN=ostmu
TEXTDOMAINDIR="${OSTMU_FOLDER}/locale"

# user
USER_HOME=$(eval echo ~${SUDO_USER})
#user_config_folder_path="${USER_HOME}"/"${USER_CONFIG_FOLDER_NAME}"

# include the colors declarations
source "${OSTMU_FOLDER}/includes/theme"

# include functions files
source "${OSTMU_FOLDER}/includes/sys"
source "${OSTMU_FOLDER}/includes/users"
source "${OSTMU_FOLDER}/includes/tmux"
source "${OSTMU_FOLDER}/includes/sims"
